[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
nbval = "*"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.8"
